.center {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
    
#page-content-wrapper {
        margin-top: 100px;
    }
   #header-wrap {
        position: fixed;
    }
    @media screen and (max-width: 635px) {
        #page-content-wrapper {
            margin-top: 60px;
   }
}

h2 {
color:blue;
}

h1 {
color:green;
}
